# those lib versions are optimized for python 3.11.9
# please check versions if you are using something diffeent
jupyterlab==4.0.11
pandas==2.2.2
alpha_vantage==2.3.1
plotly==5.24.1
mplfinance==0.12.10b0